.navbar {
    margin-bottom: 0;
}

.sunnybg {
    background-image: './sunny.jpg';
    width: 50%;
    height: 1000px;
}

.rainybg {
    background-image: './rainy.jpg';
    width: 50%;
    height: 1000px;
}

nav {
  width: 100%;

}

#nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#nav-top img {
  max-width: 350px;
}

.row {
  display: flex;
  position: relative;
   width: 100%; /* for IE 6 */
}
#left-panel {
  background: #ffe4b2;
  width: 50%;
  min-height: 800px;
  transition: width 2s;
  transition-property: background, width;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;
  position: relative;
}

#right-panel {
  background: #CBDDE1;
  width: 50%;
  min-height: 800px;

}

#sunny {
  margin-top: 80px;
  margin-left: 450px;
}

#rainy {
  margin-top: 80px;
  margin-left: 450px
}


h1 span {
   color: black;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.05);
   padding: 10px;
}



h1 {
   position: absolute;
   top: 45%;
   left: 0;
   margin-left: 42%;
   width: 100%;
}

#left-bunny {
   position: absolute;
   top: 30%;
   left: 0;
   margin-left: 20%;
   width: 10%;
}

#right-bunny {
   position: absolute;
   top: 30%;
   left: 0;
   margin-left: 72%;
   width: 10%;
}

#new-entry {
  margin-left: 35%;
  margin-top: 3%;
  padding-top: 5%
}

#imglist {
  margin-left: 30%;
  margin-top: 3%;
  padding-top: 5%
}

#single {
  margin-left: 30%;
  margin-top: 3%;
  padding-top: 5%
}