
.sunnybg {
    background-image: './sunny.jpg';
    width: 50%;
    height: 1000px;
}

.rainybg {
    background-image: './rainy.jpg';
    width: 50%;
    height: 1000px;
}

nav {
  width: 100%;
  background-color: #1565C0;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#nav-top img {
  max-width: 350px;
}

.row {
  display: flex;
}
#left-panel {
  background: #F2CC7B;
  width: 50%;
  min-height: 800px;
  transition: width 2s;
}
#left-panel:actives {
  width:100%;
}
#right-panel {
  background: #A5C6EF;
  width: 50%;
  min-height: 800px;
}